header {
    padding: 0;
    text-align: center;
    color: rgb(255,255,255);
    font-family: "Poppins", serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  #title {
    font-size: 1.8rem;
    line-height: 1.2;
  }
  #description {
    font-size: 0.8rem;
    font-style: italic;
  }
  
  body {
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
  background-repeat: no-repeat;  background-position: center;
  font-family: inherit;
  margin: 10%;
  color: rgb(255,255,255);
  }

  form {
    display: block;
    margin: auto;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    background-color: rgba(27, 27, 50, 0.8);
  }
  
  .form-group {
    padding: 0.25rem;
    margin: auto;
    font-size: 1.5rem;
  }
  
  .input-radio,
  .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: .25rem;
    min-width: 2.25rem;
  }
  
  button {
    border: none;
    width: 100%;
    display: block;
    background-color: rgb(145,32,17)
  }
  
  .input-textarea {
    min-height: 120px;
    width: 100%;
    resize: vertical;
  }
  
  label {
    display: block;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  